<%# // partials/header.ejs %>
<!-- Message Section -->
<div class="header-section">
    <div class="info-item">
        <a href="/main#download-acorn"><img src="/images/new.gif" height="11" width="56" alt="new">acorn sh app</a><br>macOS, Windows, Linux
    </div>
    <div class="">
        <!-- Logo and Header -->
        <a href="/"><img width="350" src="/images/acorn-sh-y.png" alt="Acorn SH Logo"></a>
    </div>
    <div class="info-item">
        <% if (user) { %>
            <a href="/account">my account</a> · <a href="/auth/logout">logout</a>
            <br>members only
        <% } else { %>
            <a href="/members">log in/sign up</a><br>members only
        <% } %>
    </div>
</div>

<div class="links-section">
    <a href="/">AI Chat</a> ·
    <a href="/main">Main</a> ·
    <a href="/storage">Storage</a> ·
    <a href="/hosting">Hosting</a> ·
    <a href="/quick-start">Quick Start</a> ·
    <a href="/tutorials">Tutorials</a> ·
    <a href="/careers">Careers</a> ·
    <a href="/files/Acorn_Validator.pdf" target="_blank">Whitepaper</a>
</div>
