<%# // partials/header.ejs %>
<!-- Message Section -->
<div class="header-section">
    <div class="info-item">
        <a href="/download-page"><img src="/images/new.gif" height="11" width="56" alt="new">acorn sh app</a><br>macOS, Windows, Linux
    </div>
    <div class="">
        <!-- Logo and Header -->
        <a href="/"><img width="350" src="/images/elves.png" alt="Acorn SH Logo"></a>
    </div>
    <div class="info-item">
        <% if (user) { %>
            <a href="/account">my account</a> 路 <a href="/auth/logout">logout</a>
            <br>members only
        <% } else { %>
            <a href="/members">log in/sign up</a><br>members only
        <% } %>
    </div>
</div>

<div class="links-section">
    <a href="/">AI Chat</a> 路
    <a href="/intro">Introduction</a> 路
    <a href="/quick-start">Quick Start</a> 路
    <a href="/careers">Careers</a>
</div>
