<%# // partials/main-column.ejs %>

<!-- Left Column -->
<div class="left-twocolumn">
    <div class="focus-section">
        <!-- Main Section -->
        <p><a href="#"><b>Lend or Rent GPU, Compute, Hosting</b></a></p>
        <br>
        <div class="focus-grid">
            <div>
                <b>GPU</b><br>
                <a href="#">路 Docker </a>
                <br>
                <a href="#">路 VPN </a>
            </div>
            <div>
                <b>Cloud</b><br>
                <a href="../pages/storage">路 Storage </a>
                <br>
                <a href="../pages/hosting">路 Hosting </a>
            </div>
            <div>
                <b>End Points</b><br>
            </div>
            <div>
                <b>Staking/Mining</b><br>
            </div>
        </div>
    </div>


    <div class="focus-section">
        <!-- Do You Want To Know More -->
        <p><a href="#"><b>Do You Want To Know More?</b></a></p>
        <br>
        <div class="categories">
            <div class="category-column">
                <b>Whitepaper</b><br><a href="/files/Acorn_Validator.pdf" target="_blank">PDF</a>,...<br><br>
                <b>Pitch Deck</b><br><a href="/files/Acorn_Shell_v1.pdf" target="_blank">PDF</a>, <a href="https://www.youtube.com/watch?v=Jm3vJlhzdQk">Video</a><br><br>
            </div>
            <div class="category-column">
                <b>News & Media</b><br>...<br><br>
                <b>Collaborations</b><br>...<br><br>
            </div>
        </div>
    </div>
</div>

<!-- <img width="56" height="11" src="/images/soon.gif" alt="Coming Soon"> -->