<%# // partials/right-column.ejs %>

<!-- Right Column-->
<div class="right-twocolumn">
    <div class="bordered-section">
        <div class="section-title">Quickstart</div>
        <div class="section-title-text">
            <ul>
                <li>Imagine a network where your devices work together seamlessly, just like a community of Bitcoin miners. In essence, DePINs are blockchain-powered networks that enable devices to share their resources in a decentralized manner.</li>
                <li><p><a href="/pages/quick-start">more...</a></p></li>
            </ul>
        </div>

        <div class="section-title">Tutorials</div>
        <div class="section-title-text">
            <ul>
                <li>Cloud computing is the on-demand availability of computer system resources, especially data storage (cloud storage) and computing power, without direct active management by the user.</li>
                <li><p><a href="/pages/tutorials">more...</a></p></li>
            </ul>
        </div>

        <div class="section-title">API</div>
        <div class="section-title-text">
            <ul>
                <li>Cloud computing is the on-demand availability of computer system resources, especially data storage (cloud storage) and computing power, without direct active management by the user.</li>
                <li><p><a href="" >more...</a></p></li>
            </ul>
        </div>
    </div>
</div>
