<%# pages/careers.ejs %>

<%- include('../layout', {
    title: 'Acorn SH - Careers',
    description: 'Join us to build the decentralized and distributed internet',
    body: `

    <div class="center-monocolumn">
        <h1>Careers</h1>
        <p>Multi-platform easy-to-use client. Please install Docker and make sure it is running.</p>
        <br>
        <div class="new-project-options">
            <img src="https://placehold.co/640x150.png" width="640" height="150" alt="new">
            <p>
                Are you passionate about driving sales, building relationships, and consulting with customers on business solutions? Do you want to connect entrepreneurs and professionals with the tools they need to build success? As a Business Pro, you help customers discover how Apple products can transform the way they work — and you build loyalty by maintaining those customer relationships. In this role, you serve as both a resource and a mentor to your fellow Apple Store team members. You also partner with store leadership to find opportunities to connect customers with powerful tools and solutions that help their business thrive. You work with others to foster a culture where everyone belongs and is inspired to do their best work.
            </p>
        </div>
    </div>
    
    `
}) %>