<%# pages/rpcs.ejs %>

<%- include('../layout', { 
    title: 'Acorn SH - Networks', 
    description: 'View and manage your networks on Acorn SH', 
    body: `

    <link rel="stylesheet" href="/css/inner-styles.css">
    <main class="center-monocolumn">
        <div class="line"></div>
        <h1>RPC Networks</h1>
        <p>Multi-platform, easy-to-use client. Please install Docker and ensure it is running. You can select what containers you want to run on your computer. We highly recommend you run one or two containers and add more containers later to increase profitability.</p>
        <br>
        <!-- File Search Section -->
        <div class="bordered-section-gray">
            <div class="section-title-gray">RPCs</div>
            <div class="content-min">
                <input type="text" placeholder="Search" class="git-namespace-input">
                <button class="simple-btn">Search</button>
            </div>
        </div>
        <br>

        <div class="bordered-section-gray">
            <div class="section-title-gray">My Projects</div>
                <div class="content-min-2">
                    <div class="content-min-card">
                        <div class="network-header">
                            <img src="https://static.alchemyapi.io/images/emblems/shape-mainnet.svg" alt="Shape">
                            <h2>Shape</h2>
                            <input type="text" readonly value="https://shape-sepolia.g.alchemy.com/v2/uTTsp2z0AQw9o1aT4kqKFE7pZXA5CkCr">
                        </div>
                    </div>

                    <div class="content-min-card">
                        <div class="network-header">
                            <img src="https://static.alchemyapi.io/images/emblems/eth-mainnet.svg" alt="Ethereum">
                            <h2>Ethereum</h2>
                            <input type="text" readonly value="https://eth-mainnet.g.alchemy.com/v2/uTTsp2z0AQw9o1aT4kqKFE7pZXA5CkCr">
                        </div>
                    </div>
                    
                    <div class="content-min-card">
                        <div class="network-header">
                            <img src="https://static.alchemyapi.io/images/emblems/zksync-mainnet.svg" alt="ZKsync">
                            <h2>ZKsync</h2>
                            <input type="text" readonly value="https://zksync-mainnet.g.alchemy.com/v2/uTTsp2z0AQw9o1aT4kqKFE7pZXA5CkCr">
                        </div>
                    </div>

                    <div class="content-min-card">
                        <div class="network-header">
                            <img src="https://static.alchemyapi.io/images/emblems/opt-mainnet.svg" alt="Optimism">
                            <h2>Optimism</h2>
                            <input type="text" readonly value="https://opt-mainnet.g.alchemy.com/v2/uTTsp2z0AQw9o1aT4kqKFE7pZXA5CkCr">
                        </div>
                    </div>

                    <div class="content-min-card">
                        <div class="network-header">
                            <img src="https://static.alchemyapi.io/images/emblems/matic-mainnet.svg" alt="Polygon PoS">
                            <h2>Polygon PoS</h2>
                            <input type="text" readonly value="https://polygon-mainnet.g.alchemy.com/v2/uTTsp2z0AQw9o1aT4kqKFE7pZXA5CkCr">
                        </div>
                    </div>

                    <div class="content-min-card">
                        <div class="network-header">
                            <img src="https://static.alchemyapi.io/images/emblems/starknet-mainnet.svg" alt="Starknet">
                            <h2>Starknet</h2>
                            <input type="text" readonly value="https://starknet-mainnet.g.alchemy.com/starknet/version/rpc/v0_7/uTTsp2z0AQw9o1aT4kqKFE7pZXA5CkCr">
                        </div>
                    </div>

                    <div class="content-min-card">
                        <div class="network-header">
                            <img src="https://static.alchemyapi.io/images/emblems/arb-mainnet.svg" alt="Arbitrum">
                            <h2>Arbitrum</h2>
                            <input type="text" readonly value="https://arb-mainnet.g.alchemy.com/v2/uTTsp2z0AQw9o1aT4kqKFE7pZXA5CkCr">
                        </div>
                    </div>

                    <div class="content-min-card">
                        <div class="network-header">
                            <img src="https://static.alchemyapi.io/images/emblems/arbnova-mainnet.svg" alt="Arbitrum Nova">
                            <h2>Arbitrum Nova</h2>
                            <input type="text" readonly value="https://arbnova-mainnet.g.alchemy.com/v2/uTTsp2z0AQw9o1aT4kqKFE7pZXA5CkCr">
                        </div>
                    </div>
                    <div class="content-min-card">
                        <div class="network-header">
                            <img src="https://static.alchemyapi.io/images/emblems/astar-mainnet.svg" alt="Astar">
                            <h2>Astar</h2>
                            <input type="text" readonly value="https://astar-mainnet.g.alchemy.com/v2/uTTsp2z0AQw9o1aT4kqKFE7pZXA5CkCr">
                        </div>
                    </div>
                    <div class="content-min-card">
                        <div class="network-header">
                            <img src="https://static.alchemyapi.io/images/emblems/polygonzkevm-mainnet.svg" alt="Polygon zkEVM">
                            <h2>Polygon zkEVM</h2>
                            <input type="text" readonly value="https://polygonzkevm-mainnet.g.alchemy.com/v2/uTTsp2z0AQw9o1aT4kqKFE7pZXA5CkCr">
                        </div>
                    </div>
                    <div class="content-min-card">
                        <div class="network-header">
                            <img src="https://static.alchemyapi.io/images/emblems/zetachain-mainnet.svg" alt="ZetaChain">
                            <h2>ZetaChain</h2>
                            <input type="text" readonly value="https://zetachain-mainnet.g.alchemy.com/v2/uTTsp2z0AQw9o1aT4kqKFE7pZXA5CkCr">
                        </div>
                    </div>
                    <div class="content-min-card">
                        <div class="network-header">
                            <img src="https://static.alchemyapi.io/images/emblems/fantom-mainnet.svg" alt="Fantom Opera">
                            <h2>Fantom Opera</h2>
                            <input type="text" readonly value="https://fantom-mainnet.g.alchemy.com/v2/uTTsp2z0AQw9o1aT4kqKFE7pZXA5CkCr">
                        </div>
                    </div>
                    <div class="content-min-card">
                        <div class="network-header">
                            <img src="https://static.alchemyapi.io/images/emblems/mantle-mainnet.svg" alt="Mantle">
                            <h2>Mantle</h2>
                            <input type="text" readonly value="https://mantle-mainnet.g.alchemy.com/v2/uTTsp2z0AQw9o1aT4kqKFE7pZXA5CkCr">
                        </div>
                    </div>

                    <div class="content-min-card">
                        <div class="network-header">
                            <img src="https://static.alchemyapi.io/images/emblems/berachain-mainnet.svg" alt="Berachain">
                            <h2>Berachain</h2>
                            <input type="text" readonly value="https://berachain-bartio.g.alchemy.com/v2/uTTsp2z0AQw9o1aT4kqKFE7pZXA5CkCr">
                        </div>
                    </div>
                    <div class="content-min-card">
                        <div class="network-header">
                            <img src="https://static.alchemyapi.io/images/emblems/blast-mainnet.svg" alt="Blast">
                            <h2>Blast</h2>
                            <input type="text" readonly value="https://blast-mainnet.g.alchemy.com/v2/uTTsp2z0AQw9o1aT4kqKFE7pZXA5CkCr">
                        </div>
                    </div>
                    <div class="content-min-card">
                        <div class="network-header">
                            <img src="https://static.alchemyapi.io/images/emblems/linea-mainnet.svg" alt="Linea">
                            <h2>Linea</h2>
                            <input type="text" readonly value="https://linea-mainnet.g.alchemy.com/v2/uTTsp2z0AQw9o1aT4kqKFE7pZXA5CkCr">
                        </div>
                    </div>    
                    <div class="content-min-card">
                        <div class="network-header">
                            <img src="https://static.alchemyapi.io/images/emblems/zora-mainnet.svg" alt="Zora">
                            <h2>Zora</h2>
                            <input type="text" readonly value="https://zora-mainnet.g.alchemy.com/v2/uTTsp2z0AQw9o1aT4kqKFE7pZXA5CkCr">
                        </div>
                    </div>  
                    <div class="content-min-card">
                        <div class="network-header">
                            <img src="https://static.alchemyapi.io/images/emblems/polynomial-mainnet.svg" alt="Polynomial">
                            <h2>Polynomial</h2>
                            <input type="text" readonly value="https://polynomial-mainnet.g.alchemy.com/v2/uTTsp2z0AQw9o1aT4kqKFE7pZXA5CkCr">
                        </div>
                    </div>
                    <div class="content-min-card">
                        <div class="network-header">
                            <img src="https://static.alchemyapi.io/images/emblems/base-mainnet.svg" alt="Base">
                            <h2>Base</h2>
                            <input type="text" readonly value="https://base-mainnet.g.alchemy.com/v2/uTTsp2z0AQw9o1aT4kqKFE7pZXA5CkCr">
                        </div>
                    </div>
                    <div class="content-min-card">
                        <div class="network-header">
                            <img src="https://static.alchemyapi.io/images/emblems/scroll-mainnet.svg" alt="Scroll">
                            <h2>Scroll</h2>
                            <input type="text" readonly value="https://scroll-mainnet.g.alchemy.com/v2/uTTsp2z0AQw9o1aT4kqKFE7pZXA5CkCr">
                        </div>
                    </div>
                    <div class="content-min-card">
                        <div class="network-header">
                            <img src="https://static.alchemyapi.io/images/emblems/gnosis-mainnet.svg" alt="Gnosis">
                            <h2>Gnosis</h2>
                            <input type="text" readonly value="https://gnosis-mainnet.g.alchemy.com/v2/uTTsp2z0AQw9o1aT4kqKFE7pZXA5CkCr">
                        </div>
                    </div>
                    <div class="content-min-card">
                        <div class="network-header">
                            <img src="https://static.alchemyapi.io/images/emblems/frax-mainnet.svg" alt="Frax">
                            <h2>Frax</h2>
                            <input type="text" readonly value="https://frax-mainnet.g.alchemy.com/v2/uTTsp2z0AQw9o1aT4kqKFE7pZXA5CkCr">
                        </div>
                    </div>
                    <div class="content-min-card">
                        <div class="network-header">
                            <img src="https://static.alchemyapi.io/images/emblems/bnb-mainnet.svg" alt="BNB Smart Chain">
                            <h2>BNB Smart Chain</h2>
                            <input type="text" readonly value="https://bnb-mainnet.g.alchemy.com/v2/uTTsp2z0AQw9o1aT4kqKFE7pZXA5CkCr">
                        </div>
                    </div>
                    <div class="content-min-card">
                        <div class="network-header">
                            <img src="https://static.alchemyapi.io/images/emblems/avax-mainnet.svg" alt="Avalanche">
                            <h2>Avalanche</h2>
                            <input type="text" readonly value="https://avax-mainnet.g.alchemy.com/v2/uTTsp2z0AQw9o1aT4kqKFE7pZXA5CkCr">
                        </div>
                    </div>
                    <div class="content-min-card">
                        <div class="network-header">
                            <img src="https://static.alchemyapi.io/images/emblems/solana-mainnet.svg" alt="Solana">
                            <h2>Solana</h2>
                            <input type="text" readonly value="https://solana-mainnet.g.alchemy.com/v2/uTTsp2z0AQw9o1aT4kqKFE7pZXA5CkCr">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    ` 
}) %>
