<%# pages/temp.ejs %>

<%- include('../layout', { 
    title: 'Title', 
    description: 'Description',
    body: `
    
    <main class="center-monocolumn">
        <div>


        </div>

    </main>
    
    `
}) %>